<div class="box">
  <div class="card">
    <img src="\assets\icons-1.png" />
    <p class="tittle3">FINANCIAL CRIME</p>
    <div class="text">
      Eunexus provides a comprehensive suite of solutions and services to help
      financial institutions fight fraud.
    </div>
  </div>

  <div class="card">
    <img src="\assets\icons-1.png" />
    <p class="tittle3">FINANCIAL CRIME</p>
    <div class="text">
      Eunexus provides a comprehensive suite of solutions and services to help
      financial institutions fight fraud.
    </div>
  </div>

  <div class="card">
    <img src="\assets\icons-1.png" />
    <p class="tittle3">FINANCIAL CRIME</p>
    <div class="text">
      Eunexus provides a comprehensive suite of solutions and services to help
      financial institutions fight fraud.
    </div>
  </div>
</div>
