<section>
  <div class="box">
    <div class="col1">
      <img src="./assets/logo-white.png" />
      <p>
        Eunexus is a leading provider of secure data exchange solutions the
        world over. We help large organisations across many industries,
        including banking and finance, make more intelligent decisions through
        better data reliability.
      </p>
    </div>

    <div class="col2">
      <p class="tittle2">Email</p>
      <p>info@eunexus.com</p>
      <p class="tittle2">Adress</p>
      <p>+61 (0)2 9238 8027 (Australia)</p>
    </div>
    <div class="col3">
      <p class="tittle2">Phone</p>
      <p>Autralia Level 29, Chifley Tower, 2 Chfley Square NSW, 2000</p>
    </div>

    <div class="col4">
      <p class="tittle2">Follow us</p>
      <input type="text" placeholder="Nombre" id="nombre" name="nombre" />

      <div class="cBotton">
        <img src="./assets/facebook.png" />
        <img src="./assets/insta.png" />
        <img src="./assets/in.png" />
        <img src="./assets/youtube.png" />
      </div>
    </div>
  </div>
</section>
