<section>
  <div class="section_col1">
    <p class="orange">AT EUXNEXUS.</p>
    <p class="black">
      WE HAVE NEVER BELIVED THERE IS A SILVER BULLET FOR FRAUD.
    </p>
    <p>
      Founded in 2004 Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged
    </p>
    <Button class="bblack">Read More</Button>
  </div>

  <div class="section_col2">
    <div class="section_col21">
      <img src="./assets/1.png" />
      <img src="./assets/2.png" />
      <img src="./assets/3.png" />
      <img src="./assets/4.png" />
    </div>
    <div class="section_col22">
      <p class="stittle">DETECT</p>
      <p>
        Founded in 2004 Lorem Ipsum is simply dummy text of the printing and
        typesetting industry.
      </p>
      <p class="stittle">DETECT</p>
      <p>
        Founded in 2004 Lorem Ipsum is simply dummy text of the printing and
        typesetting industry.
      </p>
      <p class="stittle">DETECT</p>
      <p>
        Founded in 2004 Lorem Ipsum is simply dummy text of the printing and
        typesetting industry.
      </p>
      <p class="stittle">DETECT</p>
      <p>
        Founded in 2004 Lorem Ipsum is simply dummy text of the printing and
        typesetting industry.
      </p>
    </div>
  </div>
</section>
