.box {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.logo {
  width: 40%;
  background-color: white;
  text-align: center;

}

.menu ul {
  list-style-type: none;
  text-align: center;
}

.menu li {
  display: inline;
  text-align: center;
  margin: 0 20px 0 0;
}

.menu li a {
  padding: 2px 7px 2px 7px;
  color: rgb(238, 0, 0);
  background-color: #eeeeee;
  border: 1px solid #ccc;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #333333;
  color: #ffffff;
}
