<div class="box">
  <div class="col1">
    <div class="cuadros">
      <img class cuadros_image src="\assets\icons-1.png" width="30%" />
      <p>Online Fraud</p>
    </div>
    <div class="cuadros">
      <img class cuadros_image src="\assets\icons-1.png" width="30%" />
      <p>Online Fraud</p>
    </div>
    <div class="cuadros">
      <img class cuadros_image src="\assets\icons-1.png" width="30%" />
      <p>Online Fraud</p>
    </div>
    <div class="cuadros">
      <img class cuadros_image src="\assets\icons-1.png" width="30%" />
      <p>Online Fraud</p>
    </div>
  </div>
  <div class="col2">
    <p class="tittle4">Intelligence</p>
    <p class="parrafo">
      Founded in 2004 Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book.
    </p>
    <ul>
      <li>Inernet Intelligence</li>
      <li>Compromise cards</li>
      <li>Lorem Ipsum</li>
    </ul>
    <button class="borange">Contact Us</button>
  </div>
</div>
